{:verbose 0,
 :exchange "tpn-updates",
 :input
 [
  "../plan-schema/examples/seattle-2016/v1.htn.edn=../plan-schema/examples/seattle-2016/v1.tpn.edn"
  "../plan-schema/examples/seattle-2016/v2.htn.edn=../plan-schema/examples/seattle-2016/v2.tpn.edn"
  ],
 :rmq-host "localhost",
 :rmq-port 5672,
 :host "localhost",
 :port 8080,
 :url-config ["config/planviz.urls.edn"]
 :arguments ["visualize"]}
