{:act-1868
 {:args [],
  :constraints #{},
  :uid :act-1868,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "do-a",
  :reward 0,
  :controllable false,
  :end-node :node-1878,
  :cost 0},
 :act-1877
 {:args [],
  :constraints #{},
  :uid :act-1877,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "do-b",
  :reward 0,
  :controllable false,
  :end-node :node-1854,
  :label :b,
  :cost 0},
 :act-1912
 {:args [],
  :constraints #{},
  :uid :act-1912,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "do-d",
  :reward 2,
  :controllable false,
  :end-node :node-1922,
  :cost 1},
 :act-1921
 {:args [],
  :constraints #{},
  :uid :act-1921,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "do-e",
  :reward 1,
  :controllable false,
  :end-node :node-1898,
  :cost 2},
 :act-1939
 {:args [],
  :constraints #{},
  :uid :act-1939,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "do-f",
  :reward 1,
  :controllable false,
  :end-node :node-1949,
  :cost 3},
 :act-1948
 {:args [],
  :constraints #{},
  :uid :act-1948,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "do-g",
  :reward 0,
  :controllable false,
  :end-node :node-1925,
  :cost 4},
 :act-1958
 {:args [],
  :constraints #{},
  :uid :act-1958,
  :tpn-type :activity,
  :argsmap {},
  :plant "plant",
  :command "do-c",
  :reward 0,
  :controllable false,
  :end-node :node-1881,
  :cost 0},
 :costle-1894
 {:tpn-type :cost<=-constraint,
  :uid :costle-1894,
  :value 10,
  :end-node :node-1893},
 :costle-1963
 {:tpn-type :cost<=-constraint,
  :uid :costle-1963,
  :value 555,
  :end-node :node-1878,
  :between [:choice :b]},
 :na-1856
 {:tpn-type :null-activity,
  :uid :na-1856,
  :constraints #{},
  :end-node :node-1850},
 :na-1870
 {:tpn-type :null-activity,
  :uid :na-1870,
  :constraints #{},
  :order 0,
  :end-node :node-1869},
 :na-1883
 {:tpn-type :null-activity,
  :uid :na-1883,
  :constraints #{},
  :end-node :node-1850},
 :na-1897
 {:tpn-type :null-activity,
  :uid :na-1897,
  :constraints #{},
  :order 0,
  :end-node :node-1896},
 :na-1900
 {:tpn-type :null-activity,
  :uid :na-1900,
  :constraints #{},
  :end-node :node-1893},
 :na-1914
 {:tpn-type :null-activity,
  :uid :na-1914,
  :constraints #{},
  :order 0,
  :end-node :node-1913},
 :na-1927
 {:tpn-type :null-activity,
  :uid :na-1927,
  :constraints #{},
  :end-node :node-1893},
 :na-1941
 {:tpn-type :null-activity,
  :uid :na-1941,
  :constraints #{},
  :order 0,
  :end-node :node-1940},
 :na-1960
 {:tpn-type :null-activity,
  :uid :na-1960,
  :constraints #{},
  :order 1,
  :end-node :node-1959},
 :net-1848
 {:tpn-type :network,
  :uid :net-1848,
  :begin-node :node-1852,
  :end-node :node-1850},
 :network-id :net-1848,
 :node-1850
 {:tpn-type :p-end,
  :uid :node-1850,
  :constraints #{},
  :activities #{},
  :incidence-set #{:na-1883 :na-1856}},
 :node-1852
 {:tpn-type :p-begin,
  :uid :node-1852,
  :constraints #{:tc-1851},
  :activities #{:na-1897 :na-1870},
  :incidence-set #{},
  :end-node :node-1850},
 :node-1854
 {:tpn-type :state,
  :uid :node-1854,
  :constraints #{},
  :activities #{:na-1856},
  :incidence-set #{:act-1877}},
 :node-1869
 {:tpn-type :state,
  :uid :node-1869,
  :constraints #{:tc-1867},
  :activities #{:act-1868},
  :incidence-set #{:na-1870},
  :end-node :node-1866},
 :node-1878
 {:tpn-type :state,
  :uid :node-1878,
  :constraints #{:tc-1876},
  :activities #{:act-1877},
  :incidence-set #{:act-1868},
  :end-node :node-1875},
 :node-1881
 {:tpn-type :state,
  :uid :node-1881,
  :constraints #{},
  :activities #{:na-1883},
  :incidence-set #{:act-1958}},
 :node-1893
 {:tpn-type :c-end,
  :uid :node-1893,
  :constraints #{:rewardge-1964 :tc-1962 :costle-1963},
  :activities #{:na-1960},
  :incidence-set #{:na-1900 :na-1927}},
 :node-1896
 {:tpn-type :c-begin,
  :uid :node-1896,
  :constraints #{:costle-1894 :rewardge-1895},
  :activities #{:na-1914 :na-1941},
  :incidence-set #{:na-1897},
  :end-node :node-1893,
  :label :choice},
 :node-1898
 {:tpn-type :state,
  :uid :node-1898,
  :constraints #{},
  :activities #{:na-1900},
  :incidence-set #{:act-1921}},
 :node-1913
 {:tpn-type :state,
  :uid :node-1913,
  :constraints #{:tc-1911},
  :activities #{:act-1912},
  :incidence-set #{:na-1914},
  :end-node :node-1910},
 :node-1922
 {:tpn-type :state,
  :uid :node-1922,
  :constraints #{:tc-1920},
  :activities #{:act-1921},
  :incidence-set #{:act-1912},
  :end-node :node-1919},
 :node-1925
 {:tpn-type :state,
  :uid :node-1925,
  :constraints #{},
  :activities #{:na-1927},
  :incidence-set #{:act-1948}},
 :node-1940
 {:tpn-type :state,
  :uid :node-1940,
  :constraints #{:tc-1938},
  :activities #{:act-1939},
  :incidence-set #{:na-1941},
  :end-node :node-1937},
 :node-1949
 {:tpn-type :state,
  :uid :node-1949,
  :constraints #{:tc-1947},
  :activities #{:act-1948},
  :incidence-set #{:act-1939},
  :end-node :node-1946},
 :node-1959
 {:tpn-type :state,
  :uid :node-1959,
  :constraints #{:tc-1957},
  :activities #{:act-1958},
  :incidence-set #{:na-1960},
  :end-node :node-1956},
 :rewardge-1895
 {:tpn-type :reward>=-constraint,
  :uid :rewardge-1895,
  :value 5,
  :end-node :node-1893},
 :rewardge-1964
 {:tpn-type :reward>=-constraint,
  :uid :rewardge-1964,
  :value 333,
  :end-node :node-1878,
  :between [:choice :b]},
 :tc-1851
 {:tpn-type :temporal-constraint,
  :uid :tc-1851,
  :value [1 100],
  :end-node :node-1850},
 :tc-1867
 {:tpn-type :temporal-constraint,
  :uid :tc-1867,
  :value [2 4],
  :end-node :node-1878},
 :tc-1876
 {:tpn-type :temporal-constraint,
  :uid :tc-1876,
  :value [3 6],
  :end-node :node-1854},
 :tc-1911
 {:tpn-type :temporal-constraint,
  :uid :tc-1911,
  :value [1 7],
  :end-node :node-1922},
 :tc-1920
 {:tpn-type :temporal-constraint,
  :uid :tc-1920,
  :value [9 16],
  :end-node :node-1898},
 :tc-1938
 {:tpn-type :temporal-constraint,
  :uid :tc-1938,
  :value [1 3],
  :end-node :node-1949},
 :tc-1947
 {:tpn-type :temporal-constraint,
  :uid :tc-1947,
  :value [2 5],
  :end-node :node-1925},
 :tc-1957
 {:tpn-type :temporal-constraint,
  :uid :tc-1957,
  :value [85 90],
  :end-node :node-1881},
 :tc-1962
 {:tpn-type :temporal-constraint,
  :uid :tc-1962,
  :value [1 100],
  :end-node :node-1878,
  :between [:choice :b]}}
